@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');

body {
    background: rgb(244, 245, 240);
    text-align: center;
    font-family: 'Radio Canada', Tahoma, sans-serif;
}

ol {
    word-break: break-all;
    margin: 10;
    padding: 0;
}

li {
    list-style-position: inside;
    padding: 0;
}
